/* 垂直居中 */
@mixin flexcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*从左往右*/
@mixin flexl {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/*左右分布*/
@mixin flexlr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}